.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.app-grid {
  width: 800px;
}

.app-grid-container {
  display: grid;
  grid-template-columns: repeat(23, auto);
  background-color: rgb(17, 107, 182);
  padding: 10px;
}

.app-grid-item {
  background-color: rgba(255, 255, 255, 0.897);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 3px;
  font-size: 10px;
  text-align: center;
}

.app-thearpists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 200px;
  height: 200px;
}